<section class="section about" id="about">
        <div class="about__inner">
            <div class="about__img">
                <img src="images/about/about-logo.png" alt="Логотип компании Tajam">
            </div>
            <div class="about__content">
                <h2 class="title about__title">Our Story</h2>
                <div class="about__text">
                    <p>
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                        sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                        Duis sed odio sit amet nibh vulputate cursus
                    </p>
                </div>
                <div class="about__text">
                    <p>
                        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos.
                    </p>
                </div>
                <a class="btn-link" href="#" target="_blank">Learn more</a>
            </div>
        </div>
        <div class="about__video" style="background-image: url('images/about/about-video-bg.jpg');">
            <a class="about__video-link" data-fancybox href="https://www.youtube.com/watch?v=KvUgaHTNit4">Watch our story</a>
        </div>
</section>