<section class="section contact" id="contact">
    <h2 class="title contact__title">Give us a good news</h2>
    <form class="contact__form">
        <label for="name">
            <input class="contact__input" id="name" placeholder="Name" type="text" name="user" required>
        </label>
        <label for="email">
            <input class="contact__input" id="email" placeholder="Email" type="email" name="email" required>
        </label>
        <label for="subject">
            <input class="contact__input" id="subject" placeholder="Subject" type="text" name="subject" required>
        </label>
            <textarea class="contact__massage" name="massage" placeholder="Your Massage" required></textarea>
        <button class="button" type="submit">Submit</button>
    </form>
</section>