<section class="section expertise" id="expertise">
    <div class="container">
        <h2 class="title">expertise</h2>
        <p class="subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        <ul class="expertise__items">
            <li class="expertise__item expertise__item--monitor">
                <h3 class="expertise__title">WEB DESIGN & DEVELOPMENT</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
            <li class="expertise__item expertise__item--brush">
                <h3 class="expertise__title">BRANDING IDENTITY</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
            <li class="expertise__item expertise__item--phone">
                <h3 class="expertise__title">MOBILE APP</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
            <li class="expertise__item expertise__item--circle">
                <h3 class="expertise__title">SEARCH ENGINE OPTIMIZATION</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
            <li class="expertise__item expertise__item--calc">
                <h3 class="expertise__title">GAME DEVELOPMENT</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
            <li class="expertise__item expertise__item--heart">
                <h3 class="expertise__title">MADE WITH LOVE</h3>
                <div class="expertise__text">
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>