<footer class="footer" style="background-image: url('images/footer/footer-bg.jpg');">
    <div class="container">
        <div class="footer__top">
            <div class="footer__item">
                <a class="logo footer__logo" href="#">
                    <img src="images/logo.png" alt="Логотип компании Tajam">
                </a>
                <div class="footer__text">
                    <p>
                        lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
                    </p>
                </div>
            </div>
            <div class="footer__item footer__item--address">
                <h3 class="footer__title">OUR STUDIO</h3>
                <address class="footer__address">
                    Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                </address>
                <a class="footer__link" href="tel:+123456789">(+62) 21-2224 3333</a>
            </div>
            <div class="footer__item">
                <h3 class="footer__title">STAY IN TOUCH</h3>
                <form class="footer__form" action="#">
                    <label for="text">
                        <input class="footer__input" id="text" name="email" type="email" placeholder="Subscribe our newsletter" required>
                    </label>
                    <button class="footer__button" type="submit">
                        <img src="images/footer/paper-btn.png" alt="Подписаться на рассылку">
                    </button>
                </form>
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/facebook-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/twitter-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/dribbble-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/instagram-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/gplus-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank" style="background-image: url('images/icons/youtube-icon.png');">
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="footer__bottom-list">
                <li class="footer__bottom-item">
                    <a class="footer__bottom-link" href="#" target="_blank">Helps</a>
                </li>
                <li class="footer__bottom-item">
                    <a class="footer__bottom-link" href="#" target="_blank">TERMS & CONDITION</a>
                </li>
                <li class="footer__bottom-item">
                    <a class="footer__bottom-link" href="#" target="_blank">PRIVACY</a>
                </li>
            </ul>
            <span>Copyright © 2015 - Tajem Creative</span>
        </div>
    </div>
</footer>