<header class="header" style="background-image: url('images/header/header-bg.jpg');">
    <div class="header__inner">
        <div class="container">
            <nav class="menu">
                <a class="logo" href="#body">
                    <img src="images/logo.png" alt="Логотип компании Tajam">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#body">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#about">About</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#expertise">Expertise</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#team">Teams</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#works">Works</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#testimonials">People say</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#contact">Contact</a>
                    </li>
                </ul>
                <button class="burger" type="button">
                    <span class="burger__line"></span>
                    <span class="sr-only">Открыть меню</span>
                </button>
            </nav>
        </div>
    </div>
    <div class="header__wrapper">
        <div class="header__content">
            <h1 class="header__title">We Are Awesome Creative Agency</h1>
            <div class="header__text">
                <p>
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                </p>
            </div>
            <a class="btn-link" href="#" target="_blank">Learn more</a>
        </div>
    </div>
</header>