<section class="team" id="team" style="background-image: url('images/team/team-bg.jpg');">
    <div class="container">
        <div class="team__inner">
            <h2 class="title team__title">MEET OUR AMAZING TEAM</h2>
            <p class="subtitle team__subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
            <ul class="team__items">
                <li class="team__item">
                    <div class="team__photo"></div>
                    <div class="team__content">
                        <h3 class="team__name">SEMF UCUK</h3>
                        <p class="team__post">CEO & FOUNDER</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="team__photo"></div>
                    <div class="team__content">
                        <h3 class="team__name">DIK ADALIN</h3>
                        <p class="team__post">ENGINEERING</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="team__photo"></div>
                    <div class="team__content">
                        <h3 class="team__name">JENG KOL</h3>
                        <p class="team__post">DESIGNER</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="team__photo"></div>
                    <div class="team__content">
                        <h3 class="team__name">PET ROMAK</h3>
                        <p class="team__post">MARKETING</p>
                    </div>
                </li>
            </ul>
            <p class="team__text">Become part of our dream team, let’s join us ! </p>
            <a class="btn-link" href="#" target="_blank">We are hiring</a>
        </div>
        
    </div>
</section>