<section class="testimonials" id="testimonials" style="background-image: url('images/testimonials/testimonials-bg.jpg')">
    <div class="container">
        <div class="testimonials__inner"> 
            <ul class="testimonials__content">
                <li class="testimonials__wrapper">
                    <blockquote class="testimonials__blockquote">
                        <p class="testimonials__text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        </p>
                        <cite class="testimonials__author">Jane Galadriel</cite>
                        <span class="testimonials__post">CEO TENGKUREP</span>
                    </blockquote>
                </li>
            </ul>
            <ul class="testimonials__items">
                <li class="testimonials__item">
                    <img class="testimonials__avatar" src="images/testimonials/avatar-1.png" alt="Ivita Galadriel">
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__avatar" src="images/testimonials/avatar-2.png" alt="Tom Galadriel">
                </li>
                <li class="testimonials__item testimonials__item--active">
                    <img class="testimonials__avatar" src="images/testimonials/avatar-3.png" alt="Jane Galadriel">
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__avatar" src="images/testimonials/avatar-4.png" alt="Jiji Galadriel">
                </li>
                <li class="testimonials__item">
                    <img class="testimonials__avatar" src="images/testimonials/avatar-5.png" alt="John Galadriel">
                </li>
            </ul>
        </div>
    </div>
</section>