<section class="section works" id="works">

    <div class="container">
        <div class="works__inner">
            <h2 class="title works__title">Our Works</h2>
            <a class="works__btn-link" href="#" target="_blank">See All Project in dribbble</a>
        </div>
    </div>

    <div class="works__wrapper">
        <ul class="works__items">
            <li class="works__item">
                <ul class="works__item-top">
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-1.jpg" alt="Work number 1">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-2.jpg" alt="Work number 2">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-3.jpg" alt="Work number 3">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-4.jpg" alt="Work number 4">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-5.jpg" alt="Work number 5">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-6.jpg" alt="Work number 6">
                        </a>
                    </li>
                </ul>
            </li>
            <li class="works__item">
                <ul class="works__item-bottom">
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-6.jpg" alt="Work number 7">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-5.jpg" alt="Work number 8">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-4.jpg" alt="Work number 9">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-3.jpg" alt="Work number 10">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-2.jpg" alt="Work number 11">
                        </a>
                    </li>
                    <li>
                        <a class="works__link" href="#" target="_blank">
                            <img src="images/works/works-1.jpg" alt="Работа номер 12">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="button works__button">Load more</button>
    </div>

</section>